@font-face {
  font-family: "iconfont"; /* Project id 4553283 */
  src: url('iconfont.woff2?t=1718618131989') format('woff2'),
       url('iconfont.woff?t=1718618131989') format('woff'),
       url('iconfont.ttf?t=1718618131989') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ku-:before {
  content: "\e6e3";
}

.icon-ku:before {
  content: "\e617";
}

.icon-icon:before {
  content: "\e651";
}

.icon-taicanle:before {
  content: "\e71a";
}

.icon-yuanbao:before {
  content: "\100c9";
}

.icon-wangguan:before {
  content: "\e637";
}

.icon-kulian:before {
  content: "\e634";
}

.icon-u___fm__gp_-copy:before {
  content: "\e602";
}

.icon-kelian:before {
  content: "\e606";
}

.icon-fanhui:before {
  content: "\e654";
}

.icon-MVP:before {
  content: "\e677";
}

.icon-MVP1:before {
  content: "\e664";
}

.icon-fenxi:before {
  content: "\e709";
}

.icon-duizhanpingtai:before {
  content: "\e831";
}

.icon-shouye:before {
  content: "\e641";
}

